# Django Settings
# ninad

SECRET_KEY=your-django-secret-key
DEBUG=True

# Database Configuration

DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=localhost
DB_PORT=3306

# Email Configuration (Gmail SMTP)

# Generate App Password: Google Account → Security → 2-Step Verification → App Passwords

EMAIL_HOST_USER=pushnotifications481312@gmail.com
EMAIL_HOST_PASSWORD=your_app_password


#sms otp
SMS_GATEWAY_URL=
SMS_GATEWAY_TOKEN=
